@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&family=Ultra&display=swap');

:root{
  --titles:#dcdcdc;
  --shadow-color: 14deg 40% 55%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.32),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.32),
    1px 1.9px 2.4px -2.5px hsl(var(--shadow-color) / 0.32);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.33),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.33),
    2px 4px 5px -1.7px hsl(var(--shadow-color) / 0.33),
    4.8px 9.7px 12.2px -2.5px hsl(var(--shadow-color) / 0.33);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    1.6px 3.1px 3.9px -0.4px hsl(var(--shadow-color) / 0.36),
    3px 6px 7.5px -0.8px hsl(var(--shadow-color) / 0.36),
    5.3px 10.6px 13.3px -1.2px hsl(var(--shadow-color) / 0.36),
    9px 18px 22.6px -1.7px hsl(var(--shadow-color) / 0.36),
    14.8px 29.5px 37.1px -2.1px hsl(var(--shadow-color) / 0.36),
    23.3px 46.5px 58.5px -2.5px hsl(var(--shadow-color) / 0.36);
  --primaryColor:#fac9bb;
}

html {
  --s: 28px; /* control the size*/
  --c1: #860000;
  --c2: #ff5757;
  
  --_g: 
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
  background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
    radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


.container {
  margin-top: 80px; /* Add margin to account for fixed navbar */
}


.container {
  margin: 0px auto;
}

.category {
  margin-bottom: 10px;
}

.category-title {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--titles);
  -webkit-text-stroke: gray;
  -webkit-text-stroke-width: 0.8px;
}

.subcategory {
  margin: 20px 0;
}

.subcategory-title {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--titles);
  -webkit-text-stroke: gray;
  -webkit-text-stroke-width: 0.8px;
  margin-bottom: 10px;
}

.category-level-1 {
  margin-left: 20px;
  margin-bottom: 10px;
}

.category-level-1 .subcategory-title {
  font-size: 1.75rem;
  color: var(--titles);
  -webkit-text-stroke: rgb(126, 120, 120);
  -webkit-text-stroke-width: 0.8px;
  font-weight: 400;
}

.category-level-2 {
  margin-left: 40px;
  /* margin-top: 0.5rem; */
}

.category-level-2 .subcategory-title {
  font-size: 1.5rem;
  color: var(--titles);
  -webkit-text-stroke: gray;
  -webkit-text-stroke-width: 0.8px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 2.5rem;
  scrollbar-width: 1rem;
  scrollbar-color: #534949 #ab8080;
}

.carousel::-webkit-scrollbar {
  height: 24px;
}

.carousel::-webkit-scrollbar-track {
  background:var(--primaryColor);
}

.carousel::-webkit-scrollbar-thumb {
  background-color: #ff0000;
  border-radius: 50%;
}

.website-card {
  display: block;
  text-decoration: none;
  color: inherit;
  flex: 0 0 250px;
  background: #e0d9d7;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 2px 2px 6px rgb(192, 151, 151);
  min-height: 5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.website-card:hover {
  transform: scale(1.2) translateY(9px) rotate(1deg);
  box-shadow: var(--shadow-elevation-medium);
  background-color: #b0eadd;
  transition: 0.1s ease-in-out;
  z-index: 2;
}

.website-card h3 {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 8px;
  color: #333 !important;
}

.website-card p {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-size: 1.688rem;
  color: black !important;
  margin-bottom: 10px;
}

.visit-link {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  display: block;
  color: #007bff;
  font-size: 1rem;
  margin-top: 10px;
}
.favicon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  margin-bottom: 8px;
  border-radius: 4px;
}
.category-level-0{
  /* border: 1px solid #cab6b1; */
  /* border-radius: 20px; */
  /* margin-bottom: 10px; */
  padding: 0.8rem;
}
@media only screen and (min-width: 383px){
  .carousel {
    pad: 0.5rem;
  }
  .category-level-1{
    margin-left: 2px;
  }
  .category-level-2{
    margin-left: 1rem;
  }
}